
<h3>Giới thiệu</h3>
<p>Đây là một dự án cộng tác giữa CHANGE VN và Automatic Lab. Mã nguồn được sự cho phép của Plastic Lite Singapore và Journey to Zero Waste Life in Singapore.</p>
<p class="text-center">
    <a href="https://www.changevn.org/du-an/056-ichange" target="_blank"><img src="img/logos/changevn.png" width="49%" style="background-color:white;"/></a>
    <a href="#" target="_blank"><img src="img/logos/automaticlab.png" width="49%" style="background-color:white;"/></a>
    <a href="https://www.facebook.com/SayNoToPlasticsSG/" target="_blank"><img src="img/plastic-lite-sg-logo.jpg" width="49%" /></a>
    <a href="https://www.facebook.com/groups/ZeroWasteJourneySg/" target="_blank"><img src="img/zero-waste-journey-logo-bg.png" width="49%" /></a>
</p>