
<div class="col-md-12">
    <h3>Để bắt đầu, hãy cho tôi biết thêm về bạn nhé!</h3>
</div>

<div class="col-md-5">

    <h5>Họ và Tên</h5>
    <!--input type="text" name="nickname" id="nickname"  class="required form-control" placeholder="Your nickname"-->
    <input type="text" name="nickname" id="nickname"  class="required form-control" placeholder="Your nickname" value="Cá Voi Xanh">

    <h5>Email</h5>
    <!--input type="email" name="email" id="email"  class="required form-control" placeholder="Your email address"-->
    <input type="email" name="email" id="email"  class="required form-control" placeholder="Your email address" value="ryan.phung@gmail.com">

    <h5>Giới tính</h5>
    <ul class="data-list floated clearfix">
        <!--li><input name="gender" type="radio" class="required" value="Male" id="male"><label class="label_gender" for="male"> Nam</label></li-->
        <li><input name="gender" type="radio" class="required" value="Male" id="male" checked="checked"><label class="label_gender"> Nam</label></li>
        <li><input name="gender" type="radio" class="required" value="Female" id="female"><label class="label_gender" for="female"> Female</label></li>
    </ul>

    <input id="website" name="website" type="text" value="" >
</div>
<div class="col-md-5">

    <h5>Tuổi</h5>
    <!--input type="number" name="age" class="required form-control" placeholder="Your age"-->
    <input type="text" name="age" class="required form-control" placeholder="Your age" value="30">
    
    <h5>Quốc Gia</h5>
    <input type="text" name="country" id="country"  class="required form-control" placeholder="Your country of residence" value="Việt Nam">

    <h5 class="margin-top">Nghề Nghiệp</h5>
    <ul class="data-list">
        <li>
            <div class="styled-select">
                <select class="form-control" name="occupation">
                    <option value="" selected>Chọn Nghề Nghiệp</option>
                    <option value="Student">Sinh viên</option>
                    <option value="Employed (full time)">Đi làm (toàn thời gian)</option>
                    <option value="Employed (part time)">Đi làm (bán thời gian)</option>
                    <option value="Self employed">Tự kinh doanh</option>
                    <option value="Homemaker">Nội trợ</option>
                    <option value="Other">Nghề khác</option>
                </select>
            </div>
        </li>
    </ul>
</div>