
<h5>Vật dụng ăn uống chỉ sử dụng 1 lần</h5>
<ul class="data-list floated auto-width clearfix">
    <li><h3>Mỗi</h3></li>
    <li>
        <div class="qty-buttons">
            <input type="button" value="1" class="qtyminus" name="quantity3">
            <input type="text" name="quantity3" value="1" class="qty form-control required" placeholder="1">
            <input type="button" value="+" class="qtyplus" name="quantity3">
        </div>
    </li>
    <li>
        <div class="styled-select">
            <select class="form-control" name="duration">
                <option value="52" selected="selected">tuần</option>
                <option value="12">tháng</option>
                <option value="1">năm</option>
            </select>
        </div>
    </li>
    <li><h3> bạn xài bao nhiêu vật dụng này?</h3></li>
</ul>
<p>Bấm lên thanh trượt để trả lời.</p>
<div class="clearfix">
    <div class="col-md-4 text-center">
        <img src="img/plastic-items/styrofoam-container.png" class="margin-top" style="max-height:100px;max-width:100%;">
        <div class="lead margin-top">Hộp xốp nhựa</div>
        <input id="numberSlider" class="bootstrapSlider" data-img="styrofoam-container.png"
               data-slider-id='numberSlider' type="text" data-byo="hộp"
               data-weight="15" data-slider-min="0" data-slider-max="20" 
               data-slider-step="1" data-slider-value="0"/>
        <div><b class="margin-right">0 to 20</b></div>
    </div>
    <div class="col-md-4 text-center">
        <img src="img/plastic-items/plastic-container.jpg" height="100px" width="auto" class="margin-top">
        <div class="lead text-center margin-top">Hộp nhựa</div>
        <input id="numberSlider" class="bootstrapSlider" data-img="plastic-container.jpg"
               data-slider-id='numberSlider' type="text" data-byo="hộp"
               data-weight="32" data-slider-min="0" data-slider-max="20" 
               data-slider-step="1" data-slider-value="0"/>
        <div><b class="margin-right">0 to 20</b></div>
    </div>
    <div class="col-md-4 text-center">
        <img src="img/plastic-items/plastic-cup.png" height="100px" width="auto" class="margin-top">
        <div class="lead text-center margin-top">Ly nhựa</div>
        <input id="numberSlider" class="bootstrapSlider" data-img="plastic-cup.png"
               data-slider-id='numberSlider' type="text" data-byo="ly"
               data-weight="19" data-slider-min="0" data-slider-max="20" 
               data-slider-step="1" data-slider-value="0"/>
        <div><b class="margin-right">0 to 20</b></div>
    </div>
</div>
<div class="clearfix margin-top-lg">
    <div class="col-md-3 text-center">
        <img src="img/plastic-items/plastic-straw.png" height="100px" width="auto" class="margin-top">
        <div class="lead text-center margin-top">Ống hút nhựa</div>
        <input id="numberSlider" class="bootstrapSlider" data-img="plastic-straw.png"
               data-slider-id='numberSlider' type="text" data-refuse="true"
               data-weight="1" data-slider-min="0" data-slider-max="20" 
               data-slider-step="1" data-slider-value="0"/>
        <div><b class="margin-right">0 to 20</b></div>
    </div>
    <div class="col-md-3 text-center">
        <img src="img/plastic-items/plastic-cutleries.png" height="100px" width="auto" class="margin-top">
        <div class="lead margin-top">Muỗng, nĩa nhựa và đũa dùng 1 lần</div>
        <input id="numberSlider" class="bootstrapSlider" data-img="plastic-cutleries.png"
               data-slider-id='numberSlider' type="text" data-byo="muỗng nĩa"
               data-weight="3" data-slider-min="0" data-slider-max="20" 
               data-slider-step="1" data-slider-value="0"/>
        <div><b class="margin-right">0 to 20</b></div>
    </div>
    <div class="col-md-3 text-center">
        <img src="img/plastic-items/plastic-bottle.jpg" height="100px" width="auto" class="margin-top">
        <div class="lead text-center margin-top">Chai nước nhựa</div>
        <input id="numberSlider" class="bootstrapSlider" data-img="plastic-bottle.jpg"
               data-slider-id='numberSlider' type="text" data-byo="muỗng nĩa"
               data-weight="2" data-slider-min="0" data-slider-max="20" 
               data-slider-step="1" data-slider-value="0"/>
        <div><b class="margin-right">0 to 20</b></div>
    </div>
    
    <div class="col-md-3 text-center">
        <img src="img/plastic-items/plastic-plate.jpg" class="margin-top" style="max-height:100px;max-width:100%;">
        <div class="lead text-center margin-top">Đĩa và chén nhựa</div>
        <input id="numberSlider" class="bootstrapSlider" data-img="plastic-plate.jpg"
               data-slider-id='numberSlider' type="text" data-byo="hộp thức ăn"
               data-weight="1" data-slider-min="0" data-slider-max="20" 
               data-slider-step="1" data-slider-value="0"/>
        <div><b class="margin-right">0 to 20</b></div>
    </div>
</div>